$height = 1080px
$width = 1920px
$tableFontSize = 30px

body
  color #B7E2FF

.container
  height $height
  width $width
  background black

#person_auth
  position absolute
  top 0px
  left 0px
  width 1200px
  height $height

$tableLeft = 1200px

#cause_table
  position absolute
  left $tableLeft
  width sum($width - $tableLeft - 10px)
  height 600px
  color #B7E2FF
  font-size $tableFontSize
  display inline-block
  padding 30px 5px

#total_table
  position absolute
  left $tableLeft
  width sum($width - $tableLeft - 10px)
  height 100px
  color #B7E2FF
  font-size $tableFontSize
  display inline-block
  padding 10px 5px
  top 880px

.table-class table
  width 100%
  font-size $tableFontSize

.table-class table td
  text-align center
  border 1px solid #069

.table-class table th
  text-align center
  border 1px solid #069