$height = 256px
$width = 576px
$tableFontSize = 14px
$tableWidth = 140px
// $color = #B7E2FF
$color = white

body
  color $color
  height $height
  width $width

.container
  overflow hidden
  height $height
  width $width
  background black

#person_auth
  position absolute
  top 0px
  left 0px
  width $width - $tableWidth
  height $height + 30px

$tableLeft = 425px

#cause_table
  position absolute
  left $tableLeft
  width $tableWidth
  height 600px
  color $color
  font-size $tableFontSize
  display inline-block
  padding 5px 5px

#total_table
  position absolute
  left $tableLeft
  width $tableWidth
  height $height
  color $color
  font-size $tableFontSize
  display inline-block
  padding 10px 5px
  top 200px

.table-class table
  width 100%
  font-size $tableFontSize

.table-class table td
  text-align center
  border 1px solid #069

.table-class table th
  text-align center
  border 1px solid #069