#person_auth
  position absolute
  top 0px
  left 0px
  width 790px
  height 768px

body
  color #B7E2FF

.container
  height 768px
  width 1024px
  background black

#cause_table
  position absolute
  left 800px
  width calc(1024px - 800px - 10px)
  height 600px
  color #B7E2FF
  font-size 24px
  display inline-block
  padding 25px 5px

#total_table
  position absolute
  left 800px
  width calc(1024px - 800px - 10px)
  height 768px
  color #B7E2FF
  font-size 24px
  display inline-block
  padding 25px 5px
  top 620px

.table-class table
  width 100%
  font-size 16px

.table-class table td
  text-align center
  border 1px solid #069

.table-class table th
  text-align center
  border 1px solid #069